<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>303912769290-4lgsl084dmvd83e3cih6oa8n55444635.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303912769290-4lgsl084dmvd83e3cih6oa8n55444635</string>
	<key>API_KEY</key>
	<string>AIzaSyD3lQhcNUhXTKzrHFWE3daza975m-qH9gA</string>
	<key>GCM_SENDER_ID</key>
	<string>303912769290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JUNHYEOK.Notice</string>
	<key>PROJECT_ID</key>
	<string>notice-5c087</string>
	<key>STORAGE_BUCKET</key>
	<string>notice-5c087.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303912769290:ios:d279def3c138e4968d8cf3</string>
</dict>
</plist>