<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>721044826489-m498b7j8resvm100uis8put502fvou4c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.721044826489-m498b7j8resvm100uis8put502fvou4c</string>
	<key>API_KEY</key>
	<string>AIzaSyCxfqqZjwtNTYyh8D-8sICfIPNIxPNyHhU</string>
	<key>GCM_SENDER_ID</key>
	<string>721044826489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JUNHYEOK.Warning</string>
	<key>PROJECT_ID</key>
	<string>waring-d3a66</string>
	<key>STORAGE_BUCKET</key>
	<string>waring-d3a66.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:721044826489:ios:001b71c497c6be5eafe7a8</string>
</dict>
</plist>