<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>902829670901-3pch8g5brmc2115pp3n9dc459tu6bb9l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.902829670901-3pch8g5brmc2115pp3n9dc459tu6bb9l</string>
	<key>API_KEY</key>
	<string>AIzaSyBfcnZ4iIartKM_Id-OIw4ApBt8fk-ZQb4</string>
	<key>GCM_SENDER_ID</key>
	<string>902829670901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JUNHYEOK.CreditCardList</string>
	<key>PROJECT_ID</key>
	<string>creditcard-749d3</string>
	<key>STORAGE_BUCKET</key>
	<string>creditcard-749d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:902829670901:ios:b4d833f14c65fc01b0e0bc</string>
</dict>
</plist>